<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>Servers - Dixionary Bot</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/smallhero/start %>
        <h1 class="title">Dixionary Serwers</h1>
        <%- include ../partials/smallhero/end %>
        <section class="hero hero-body">
            <div class="container has-test-centered">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Members</th>
                            <th>Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% guilds.forEach(function(guild) { %>
                        <tr>
                            <th><a href"/servers/<%= guild.id %>"><%= guild.name %></a></th>
                            <th><%= guild.owner %></th>
                            <th><%= guild.members %></th>
                            <th><%= guild.region %></th>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
        <%- include ../partials/footer %>
    </body>
</html>
