<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>Status - Dixionary's Website</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/hero/start %>
        <h1 class="title">Status Page</h1>
        <h2 class="subtitle">#WEAREALVAYSDOVN</h2>
        <%- include ../partials/hero/end %>
        <section class='hero hero-body'>
                <div class='container box has-text-centered'>
                    <div class='columns'>
                        <div class='column'>
                            <h1 class="title">Dixionary Bot</h1>
                            <br>
                            <% results.forEach(function(item) { %>
                            <% if (item.description == "bot") { %>
                            <div>
                            <% if (item.sharded == "true") { %>
                            Shard: <strong><%= item.shard %></strong>
                            <% } %>
                            <span class="tag is-success"><%= item.status %></span>
                            </div>
                            <% }}) %>
                        </div>
                        <div class='column'>
                            <h1 class="title">Dixionary API</h1>
                            <br>
                            <% results.forEach(function(item) { %>
                            <% if (item.description == "api") { %>
                            <div><span class="tag is-success"><%= item.status %></span></div>
                            <% }}) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include ../partials/footer %>
    </body>
</html>
