<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>Status - Dixionary's Website</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/hero/start %>
        <h1 class="title">Dixionary Status Page</h1>
        <h2 class="subtitle">#WEAREALVAYSDOVN</h2>
        <%- include ../partials/hero/end %>
        <%- include ../partials/footer %>
    </body>
</html>
