<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>Translate - Dixionary's Website</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/smallhero/start %>
        <h1 class="title">Dixionary Translate</h1>
        <%- include ../partials/smallhero/end %>
        <%- include ../partials/footer %>
    </body>
</html>

