<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>404 Madarchods</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/errorhero/start %>
        <h1 class='title'>404 Chill not found!!!</h1>
        <h2 class='subtitle'>Please try again</h2>
        <h3>Hitler did nothing vrong</h3>
        <%- include ../partials/errorhero/end %>
        <%- include ../partials/footer %>
    </body>
</html>
