<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>500 Madarchod</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/errorhero/danger_start %>
        <h1 class="title">500 Internal Serwer Error</h1>
        <h2 class="subtitle"><%= err.message %><h2>
        <h2 class="subtitle"><%= err.stack %><h2>
        <%- include ../partials/errorhero/end %>
        <%- include ../partials/footer %>
    </body>
</html>

